@page
@model IsolationWebApp.Pages.AboutModel
@{
}



<div class="container">

    <div class="card mx-auto">

        <div class="card-body bg-light">
            <p class="card-text">TODO</p>
            <a asp-page="./Index" class="btn btn-primary">Home</a>
        </div>
    </div>
</div>
