@*@page "{id:int?}"*@
@page "{lang:=en}"
@model IsolationWebApp.Pages.AboutModel
@{
}


<div class="container">

    <div class="card mx-auto">

        <div class="card-body bg-light">
            <p class="card-text">TODO</p>
            <a asp-page="./Index" asp-route-lang=@Model.Language class="btn btn-primary">Home</a>
        </div>
    </div>

</div>

@{

    if (RouteData.Values.ContainsKey("lang"))
    {
        var language = RouteData.Values["lang"]!.ToString();
        <p class="text-center"><kbd>@language</kbd></p>
    }
    else
    {
        <p>?</p>
    }
}




