@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<style>
    img {
        display: table-cell;
        vertical-align: middle;
        margin: auto;
        background-color: #055e9a;
    }

</style>
<div class="text-center">
    <h2 class="display-4">
        CSS Isolation
    </h2>
</div>