@page "{lang:=en}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<style>
    img {
        display: table-cell;
        vertical-align: middle;
        margin: auto;
        background-color: #055e9a;
    }

</style>

<div class="text-center">
    <h2 class="display-4">
        CSS Isolation
    </h2>
    
    @{

        /*
         * For testing we are getting lang
         */

        if (RouteData.Values.ContainsKey("lang"))
        {
            var language = RouteData.Values["lang"]!.ToString();
            <p><kbd>@language</kbd></p>
            
        }
        else
        {
            <p>?</p>
        }
    }
    
    <a asp-page="Index" asp-page-handler="Menu1" asp-route-id1="p01">Menu 1</a> 
    <br />
    <p>@Model.Result</p>

</div>