@page
@model PizzaShop.Pages.Orders.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">

    <div class="col-md-4">

        <form method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Order.Id"/>
            <input type="hidden" asp-for="Order.CustomerId"/>

            <div >
                <label asp-for="Order.OrderPlaced" class="form-label"></label>
                <input asp-for="Order.OrderPlaced" class="form-control"/>
                <span asp-validation-for="Order.OrderPlaced" class="text-danger"></span>
            </div>

            <div >
                <label asp-for="Order.OrderFulfilled" class="form-label"></label>
                <input asp-for="Order.OrderFulfilled" class="form-control"/>
                <span asp-validation-for="Order.OrderFulfilled" class="text-danger"></span>
            </div>

            <div  mt-2">
                <label><strong>Name:</strong> @Model.Order.Customer.FirstName @Model.Order.Customer.LastName</label>
            </div>
            
            <div class=" mt-2">
                <input type="submit" value="Save" class="btn btn-primary"/> <a asp-page="./Index" class="btn btn-primary">Back to List</a>
            </div>

        </form>

    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
