@page
@using ConfigurationLibrary.Classes
@model PizzaShop.Pages.AboutModel
@{
    var connection = ConfigurationHelper.ConnectionString();
    var sqlServer = connection.Contains("localdb") ? "localDb" : "Express";
}

<style>
    img {
        display: table-cell;
        vertical-align: middle;
        margin: auto;
    }
</style>

<h1>About</h1>

<div class="container">
    
    <div class="card mx-auto" style="width: 28rem;">
        <img src="~/lib/images/cSharpBot.png" class="card-img-top" />
        <div class="card-body">
            <p class="card-text">This project is a simple example for developers to get a feel for working with <mark>ASP.NET Core 6 Razor pages</mark> along with <mark>Entity Framework Core 6</mark></p>
            <p class="card-text">Before running the project the database must be created and populated, Karen will go over this procedure.</p>
            <p class="card-text"><strong>Connected as </strong>@sqlServer</p>
            <a asp-page="../Index" class="btn btn-primary">Home</a>            
        </div>
    </div>
</div>

