@page
@model PizzaShop.Pages.AboutModel
@{
}

<style>
    img {
        display: table-cell;
        vertical-align: middle;
        margin: auto;
    }
</style>

<h1>About</h1>

<div class="container">
    
    <div class="card mx-auto" style="width: 28rem;">
        <img src="lib/images/cSharpBot1.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">This project is a simple example for developers to get a feel for working with <mark>ASP.NET Core 6 Razor pages</mark> along with <mark>Entity Framework Core 6</mark></p>
            <p class="card-text">Before running the project the database must be created and populated, Karen will go over this procedure.</p>
            <a asp-page="./Index" class="btn btn-primary">Home</a>            
        </div>
    </div>
</div>

