@page

@model PizzaShop.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}



@*
    Used below for creating an unordered list
*@

@{
    Dictionary<string, int> dictionary = new()
    {
        { "Bill", 20 },
        { "Lisa", 12 },
        { "Karen", 14 },
        { "Lindon", 8 },
        { "Bick", 23 }
    };

}

<style>
    img {
        display: table-cell;
        vertical-align: middle;
        margin: auto;
    }

</style>
<div class="text-center">
    <h1 class="display-4 text-black-50">
        Pizza  Shop
    </h1>
</div>

<div class="container">

    <div class="row row-cols-auto">
        
        <div class="col">
            <button type="button" class="btn btn-primary position-relative me-3" onclick="AddProduct()">
                Add
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    <span id="ShowResult1" class="badge">100+</span>
                    <span class="visually-hidden">Add another product</span>
                </span>
            </button>

        </div>

        <div class="col">
            <a class="btn btn-danger ms-lg-5" asp-page-handler="MyOnClick">Intentional error</a>
        </div>
        

    </div>


</div>

<script>

    var count = 100;

    function AddProduct() {

        count++;

        $("#ShowResult1").text(count + '+');
    }

</script>

@*
    Simple example for mixing C# with HTML using BootStrap
    /healthchecks-ui
*@



@*<div class="container-sm">
    <h6>Mixing HTML with C#</h6>
    <div class="row">
        <div class="col-lg-3 col-md-4">
            <ul class="list-group">
                @foreach (var person in dictionary)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center bg-success text-white">
                        @person.Key

                        @if (person.Value > 12)
                        {
                            <span class="badge bg-dark rounded-pill">@person.Value</span>
                        }
                        else
                        {
                            <span class="badge bg-primary rounded-pill">@person.Value</span>
                        }
                    </li>
                }
            </ul>
        </div>
    </div>

</div>

*@
